# Copy this to .env and fill in your values
GEMINI_API_KEY=AIzaSyDqI2SzDQrZw6i-dGMCsTbgku9ITjFIMhE
MONGO_URI=mongodb+srv://santhoshkumars2024aids_db_user:junoon@cluster0.41tiers.mongodb.net/botdb
CHROMA_PERSIST_DIR=./vectorstore
UPLOAD_FOLDER=./data/docs
MAX_CONTENT_LENGTH=16777216
